*{
	margin: 0;
	padding:0;
	font-family: Nunito;
}
:root{
	--pink-color:#f78799;
	--shadow-color:#c2bdbe;
	--p-text:#807f7f;
	--back_btn:#0ADFA5;
	--shadow: 1px 4px 20px 0 rgba(200, 199, 202, 0.69);
}
.upper_text{
	margin: 80px;
}
h1{
	color: var(--pink-color);
}
h2{
	padding:20px 0 20px 0;
}
.bottom_text{
	margin-top: 120px;
	color: var(--p-text);
	overflow-wrap: break-word;
}
b{
	color: var(--pink-color);
}
}
.paragraph{
	color: var(--p-text);
	margin-top: 10px;
}
/*subject_list*/
.subject_list{
	margin-top: 50px;
	display:inline-block;
	cursor: not-allowed;
}
.physics{
	box-shadow: var(--shadow);
    width: 221px;
    height: 80px;
    display: inline-block;
}
.chemistry{
    width: 221px;
    height: 80px;
    box-shadow: var(--shadow);
    float: left;
    margin-right: 30px;

}
.math{
	float: right;
    width: 221px;
    height: 80px;
    box-shadow: var(--shadow);
    margin-left: 30px;
}
.back_btn{
	outline: none;
	text-align: center;
	background: var(--back_btn);
	border-radius: 50px;
	width: 100px;
	padding: 15px 0 15px 0;
	margin-top: 50px;
	margin-bottom: 20px;
	border: none;
	font-weight: 700;
	color: #FFF;
	box-shadow: var(--shadow);
	cursor: pointer;
}
/*


/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
	.chemistry, .physics, .math{
		width:100%;
		justify-content: center;
		margin-top: 20px;
	}
 }
