body{
	background-color: #FFF;
	font-family: Nunito;
}
.nav_section{
	/*border: 1px solid #0A99FA;*/
	margin-top: 100px;
	height: 50px;
	max-width: auto;
}
.logo{
	font-family: Nunito;
	font-weight: bold;
	margin-left: 150px;
}
.menu{
	float: right;
	line-height: 6px;
	color: #878585;
	font-family: Monotype Corsiva;
	margin-top: -45px;
	margin-right: 180px;
	cursor: pointer;
	transition: 1s;
}
.menu:hover{
	color: #000;
	transition: 1s;
}
.container{
	/*border: 1px solid #080080;*/
	margin-top: 150px;
	max-width: 500px;
}
.text{
	font-size: 13px;
	color: #737373;
	font-weight: 400;
	margin-bottom: 8%;
}
.resume_pdf{
	cursor: pointer;
	height: 20px;
    width: 100px;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 8px;
	text-align: center;
	font-family: Nunito;
	font-size: 13px;
	letter-spacing: 2px;
	border: 2px solid #000;
	background-color: #FFF;
	color: #000;
}
.resume_pdf:hover{
	border: 2px solid #000;
	background-color: #000;
	color: #FFF;
}
a{
	text-decoration: none;
}